#N0001 {
    height: 70px;
    background-color: #000000;
    border-bottom: 1px #333333 solid;
}

#N0001 .logo-bg {
    height: 100%;
    width: 270px
}

#N0001 .logo {
    width: 100%;
    top: 15px;
    left: 10px;
}

#N0001 .mobile-menu,
#N0001 .mobile-close {
    right: 10px;
    top: 10px;
    z-index: 100;
    transform: rotate(-180deg);
    opacity: 0;
    transition: all .3s;
}

#N0001 .mobile-menu.show,
#N0001 .mobile-close.show {
    transform: rotate(0deg);
    opacity: 1;
    /*    transition: all .3s ;*/
}

#N0001 .nav {
    width: 100vw;
    top: -500px;
    left: 0px;
    opacity: 0;
    transition: all 0.5s ease-in;
}

#N0001 .nav.show {
    top: 70px;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease-out;
}

#N0001 .nav .item {
    width: 100vw;
    background-color: #000000;
    border-bottom: 1px #333333 solid;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

#N0001 .nav .item:hover,
#N0001 .nav .item:hover small,
#N0001 .nav .item.active,
#N0001 .nav .item.active small {
    text-decoration: none;
}

#N0001 .nav:before {
    content: '';
    position: absolute;
    top: -2px;
    height: 1px;
    width: 100vw;
    background-color: #000000;
}

#N0001 .icon-nav {
    display: block;
}

@media screen and (min-width: 992px) {
    #N0001 .nav {
        top: 15px;
        left: 270px;
        opacity: 1;
        width: calc(100vw - 270px - 10px);
    }
    #N0001 .nav .item {
        /* text-align: center; */
        font-size: 15px;
        width: 90px;
        border-bottom: 1px solid transparent;
        color: #ffffff;
    }
    #N0001 .nav .icon-item {
        width: 40px;
    }
    #N0001 .nav .icon-item img {
        opacity: 0.8;
    }
    #N0001 .nav .item p {
        width: 90px;
        opacity: 0.8;
        text-align: center;
    }
    #N0001 .nav:before {
        content: '';
        display: none;
    }
    #N0001 .nav .divide:after {
        content: '';
        position: absolute;
        top: calc((100% - 20px)/2);
        height: 20px;
        width: 1px;
        background-color: #ffffff;
    }
    #N0001 .nav .divide:nth-child(1):after {
        background-color: transparent;
    }
    #N0001 .nav .item p:hover,
    #N0001 .nav .icon-item img:hover {
        /* border-bottom: 2px solid #17C8FF; */
        /* color: #17C8FF; */
        transform: scale(1.1);
        opacity: 1;
        transition: all 0.3s;
    }
}