<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>

    <title>C0001</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
    <style>

    </style>


    <body>
        <section id="C0001">
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_01.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_01.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_02.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_02.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_03.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_03.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_04.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_04.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_05.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_05.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_06.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_06.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_07.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_07.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_08.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_08.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_09.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_09.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_10.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_10.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>
            <div>
                <a href="#" target="_self">
                    <img data-lazy="../images/C0001/banner_pc_01.png" alt="" class="d-none d-lg-block img-fluid">
                    <img data-lazy="../images/C0001/banner_mobile_01.png" alt="" class="d-block d-lg-none img-fluid">
                </a>
            </div>

        </section>



        <script type="text/javascript" charset="utf-8" src="../js/jquery-3.2.1.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="../js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/slick.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#C0001').slick({
                    lazyLoad: 'ondemand',
                    dots: true
                });
            });
        </script>
    </body>

    </html>