<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>

    <title>C0010</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../css/will-show.min.css">
    <style>
        #C0010 {
            background-color: #e6e6e6;
        }
        
        #C0010 article div {
            font-size: 0.7em;
        }
        
        @media screen and (min-width: 992px) {
            #C0010 article div {
                font-size: 0.6em;
            }
        }
    </style>


    <body>
        <section id="C0010">
            <article class="px-1 px-lg-5 py-3">
                <h3 class="text-center mb-0">標題Title </h3>
                <h5 class="text-center pt-1 mb-0">次標題subtitle</h5>
                <div class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                    a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, </div>
            </article>


        </section>



        <script type="text/javascript" charset="utf-8" src="../js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/jquery.lazy.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/getUrlPara.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/slick.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/AJAX-example.js">
        </script>
        <script type="text/javascript" charset="utf-8" src="../js/form-check-function.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/will-show.js"></script>

        <script>
            $(document).ready(function() {

            });
        </script>
    </body>

    </html>